<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline">
          <li>
            <a href="#home"><%= t 'footer.home' %></a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#products"><%= t 'menu.products' %></a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#features"><%= t 'menu.features' %></a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#consulting"><%= t 'menu.consulting' %></a>
          </li>          
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#customers"><%= t 'menu.customers' %></a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>          
          <li>
            <a href="#contact"><%= t 'footer.demo' %></a>
          </li>
        </ul>
        <p class="copyright text-muted small">Copyright &copy; BetEngines. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
