<section id="prices">
  <div>
    <br/><br/>

    <h1 class="header"><%= t 'prices.header' %></h1>
    <br/>
  </div>
  <div class="content-section-a">
    <div class="container">
      <div class="row equal">
          <div class="col-lg-6">
            <div class="panel panel-info">
              <div class="panel-heading text-center"><h3><%= t 'prices.cloud.header' %></h3></div>
              <div class="panel-body">
                <div class="lead text-center" style="font-size: 20px"><%= t 'prices.cloud.short_description' %></div>
                <h2 class="text-warning text-center"><%= t 'prices.cloud.price' %></h2>
                <div class="lead text-center"><%= t 'prices.cloud.price_description' %></div>
                <div class="lead text-muted"><%= t 'prices.cloud.description' %></div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="panel panel-warning">
            <div class="panel-heading text-center">
              <h3><%= t 'prices.enterprise.header' %></h3>
            </div>
            <div class="panel-body">
              <div class="lead text-center" style="font-size: 20px"><%= t 'prices.enterprise.short_description' %></div>
              <h2 class="text-warning text-center"><%= t 'prices.enterprise.price' %></h2>
              <div class="lead text-center"><%= t 'prices.enterprise.price_description' %></div>
              <div class="lead text-muted"><%= t 'prices.enterprise.description' %></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="lead text-center"><%= t 'prices.contact' %> <a href="mailto:d.omelechko@betengines.com">d.omelechko@betengines.com</a></div>
        </div>
      </div>
    </div>
  </div>

</section>