<section id="prices">
  <div>
    <br/><br/>

    <h1 class="header"><%= t 'prices.header' %></h1>
    <br/>
  </div>
  <div class="content-section-a">
    <div class="container">
      <div class="row ">
          <div class="col-lg-6">
            <div class="panel panel-info">
              <div class="panel-heading text-center"><h3><%= t 'prices.per_event.header' %></h3></div>
              <div class="panel-body">
                <div class="lead text-center" style="font-size: 20px"><%= t 'prices.per_event.short_description' %></div>
                <h2 class="text-warning text-center"><%= t 'prices.per_event.price' %></h2>
                <div class="lead text-center"><%= t 'prices.per_event.price_description' %></div>
                <div class="lead text-muted"><%= t 'prices.per_event.description' %></div><br>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="panel panel-warning">
            <div class="panel-heading text-center">
              <h3><%= t 'prices.in_house.header' %></h3>
            </div>
            <div class="panel-body">
              <div class="lead text-center" style="font-size: 20px"><%= t 'prices.in_house.short_description' %></div>
              <h2 class="text-warning text-center"><%= t 'prices.in_house.price' %></h2>
              <div class="lead text-center"><%= t 'prices.in_house.price_description' %></div>
              <div class="lead text-muted"><%= t 'prices.in_house.description' %></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="lead text-center"><%= t 'prices.contact' %> <a href="mailto:info@betengines.com">info@betengines.com</a></div>
        </div>
      </div>
    </div>
  </div>

</section>
